html,body {
  width: 100%;
  height: 100%;
}
/* 去除mui自带的ul样式 */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
}
.lt_container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 55px;
  position: relative;
  /* overflow: hidden; */
}
/* 头部 */
.lt_header {
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #006699;
}
.lt_header .icon_left,
.lt_header .icon_right {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header .icon_right {
  right: 0;
}
.lt_header h3 {
  text-align: center;
  line-height: 45px;
  /* 去除mui自带margin */
  margin: 0; 
  font-weight: normal;
  font-size: 20px;
  color: #fff;
}
/* 底部 */
.lt_footer {
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #006699;
}
.lt_footer ul li {
  float: left;
  width: 25%;
}
.lt_footer ul li a {
  display: block;
  padding-top: 8px;
  text-align: center;
  color: #fff;
}
/* 点击哪个让哪个图标高亮 */
.lt_footer ul li a.current {
  color: orange;
}
.lt_footer ul li a.current p {
  color: orange;
}
.lt_footer ul li a p {
  color: #fff;
  /* 去除mui默认p的margin */
  margin: 0;
}
.lt_main {
  width: 100%;
  height: 100%;
  /* 里面的区域滚动是定位的,防止内容溢出 */
  position: relative;
  background-color: #fff;

}

/* 商品展示区 */
.lt_product {
  padding: 10px;
  text-align: center;
}
.lt_product li {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
.lt_product li:nth-child(odd) {
  margin-right: 4%;
}
.lt_product li a {
  display: block;
  padding: 10px;
}
.lt_product li a .price {
  color: #ff0000;
}
.lt_product li a .oldPrice {
  text-decoration: line-through;
}
/* 搜索框 */
.lt_search {
  padding: 10px;
  position: relative;
}
.lt_search .search_input {
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  border: 1px solid #007aff;
  border-radius: 5px;
  margin: 0;
}
.lt_search .search_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}